/*  your css code here. If applicable */
.card{
	width:200px;
	height:400px;
	padding: 100px;
	background-color: whitesmoke;
	
}
div>img{
	width: 200px;
}
p{
	text-align: center;
}
#btn{
	padding:20px;
	background-color: orangered;
	color: white;
	border-radius: 10px;
	border: none;
}
